.gg_woo_bt-wrap {
  display: block;
  width: 100%;

  .gg_woo_bt-text, .gg_woo_bt-products {
    margin: 0 0 15px 0;
  }
}

.gg_woo_bt-products {
  .gg_woo_bt-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .gg_woo_bt-thumb {
      width: 50px;
      min-width: 50px;

      img {
        width: 40px;
        height: auto;
        display: block;
      }
    }

    .gg_woo_bt-price {
      width: 100px;
      flex: 0 0 100px;
      max-width: 100px;
      text-align: right;
    }
  }

  .gg_woo_bt-product-main .gg_woo_bt-price .gg_woo_bt-price-new {
    display: none;
  }

  .gg_woo_bt-product {
    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    &.show-variation-select {
      .variations_form {
        display: block;
      }
    }

    .variations_form {
      display: none;
    }

    .gg_woo_bt-price {
      del {
        opacity: .5;
        text-decoration: line-through;

        span {
          text-decoration: line-through;
        }
      }

      ins {
        font-weight: normal;
      }

      .amount {
        display: inline-block;
      }
    }

    .gg_woo_bt-title {
      flex-grow: 1;

      a {
        text-decoration: none;
        box-shadow: none;
      }
    }

    .variations_form {
      margin: 0;
      padding: 0;
    }

    > div {
      padding: 10px 10px 10px 0;
      background-color: transparent;

      &:last-child {
        padding-right: 0;
      }
    }

    .gg_woo_bt-title > {
      .woovr-variation-image, .woovr-variation-price {
        display: none !important;
      }
    }

    .gg_woo_bt-quantity {
      text-align: right;
      width: 120px;
      flex: 0 0 120px;

      .quantity {
        float: none !important;
        margin: 0 0 0 0 !important;
      }
    }

    &.gg_woo_bt-unchecked .gg_woo_bt-quantity * {
      opacity: .5;
      pointer-events: none;
    }
  }


}

.gg_woo_bt-checkbox:disabled {
  cursor: not-allowed;
}

.gg_woo_bt-products .gg_woo_bt-product {
  .variations_form .variations {
    display: inline-block;
    margin: 0;
    padding: 0;

    .variation {
      > div {
        display: block;
      }

      display: inline-block;
      float: left;
      border-width: 1px;
      border-style: solid;
      border-color: #e5e5e5;
      padding: 5px;
      margin: 5px 5px 0 0;
      min-width: 180px;
      max-width: 100%;
    }

    .reset {
      display: inline-block;
    }

    .variation {
      &:last-child {
        margin-bottom: 0;
      }

      .label {
        font-size: 12px;
        line-height: 1;
        padding: 0 5px;
      }

      .select {
        line-height: 1;

        select {
          width: 100%;
          line-height: 1;
          padding: 0 16px 0 0;
          background-color: transparent;
          border-radius: 0;
          border: none;
          outline: none;
          background-repeat: no-repeat;
          background-size: auto;
          background-position: 100% 50%;
        }
      }
    }

    a.reset_variations {
      margin: 0;
      font-size: 12px;
    }
  }

  .gg_woo_bt-title .stock {
    font-size: 14px;
    margin: 0;

    &.in-stock {
      color: #0f834d;
    }

    &.available-on-backorder {
      color: orange;
    }

    &.out-of-stock {
      color: #e2401c;
    }
  }
}

.gg_woo_bt-disabled {
  opacity: .5 !important;
  cursor: not-allowed !important;
}

.gg_woo_bt-notice {
  padding: 6px 10px 6px 14px;
  border-left: 4px solid #e2401c;
  background-color: rgb(238, 238, 238);
  font-size: 14px;
}

.gg_woo_bt-quantity-input {
  display: flex;
  align-items: center;
}

.gg_woo_bt-qty {
  width: 60px;
  text-align: center;
}

.gg_woo_bt-product .gg_woo_bt-quantity-input {
  .qty, .gg_woo_bt-qty {
    width: 50px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    box-shadow: none;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e5e5e5;
    border-radius: 0;
    background-color: #fefefe;
  }

  .qty:focus, .gg_woo_bt-qty:focus {
    outline: none;
    outline-color: transparent;
  }
}

.gg_woo_bt-quantity-input input {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
