$padding-base: 15px;
// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #f0f0f0 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #3f4448 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;


$primary: #2196F3 !default;
$secondary: #3f4448 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$border-width: 1px;
$border-color: #cdcdcd;


.gg_woo_bt-metabox-panel-wrap {
  background: #FFF;
}

/** input group */
.gg_woo_bt-repeatable-field-section {
  table {
    width: 100%;
  }

  .gg_woo_bt-template {
    display: none;
  }

  .button-action {
    cursor: hand;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
  }

  .opal-row-body {
    padding: $padding-base;
    background-color: #fcfcfc
  }

  .button-action-group {
    display: inline-block;
    float: right;

  }

  .opal-row-head {
    border-bottom: solid 3px $border-color;
    position: relative;

    padding: 8px 0px;

    .repeat-title {
      font-size: 14px;
      margin: 0;
      display: inline-block;
    }
  }
}

label.gg_woo_bt-label {
  display: inline-block;
  width: 15%;
  font-weight: 500;
  font-size: 14px;
}

.gg_woo_bt-field-wrap {
  padding: 15px 0;
  display: flex;

  &.gg_woo_bt-title-field-wrap {
    display: block;
  }
}

.gg_woo_bt-field-main {
  display: inline-block;
}

.gg_woo_bt-settings-page {
  background: #FFF;
  padding: 15px 30px;
  margin: 30px auto;
  margin-left: 15px;
  margin-right: 15px;

  .setting-tab-head {
    overflow: hidden;
    margin-bottom: 15px;
  }

  .inline-list {
    padding: 0;

    li {
      display: inline-block;
      padding-right: 12px;

      a {
        color: #616f80;
        padding: 12px 15px;
        border-radius: 6%;
        text-decoration: none;
        font-weight: bold;
        background-color: #e8e9eb
      }

      &.active {
        a {
          background-color: $primary;
          color: #FFF;
        }
      }
    }
  }
}

.checkbox-list {
  &.checkbox-block {
    .checkbox-item {
      display: block;
    }
  }

  &.checkbox-inline {
    .checkbox-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .checkbox-item {
    font-size: 14px;
    line-height: 16px;
    margin: 1px 0 5px 0;
  }
}

.radio-list {
  &.radio-block {
    .radio-item {
      display: block;
    }
  }

  &.radio-inline {
    .radio-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .radio-item {
    font-size: 14px;
    line-height: 16px;
    margin: 1px 0 5px 0;
  }
}

.gg_woo_bt-field-wrap input[type="checkbox"] {
  margin: 0 5px 0 0;
  padding: 0;
}

.gg_woo_bt-multicheck-action {
  margin-bottom: 15px;
}

.gg_woo_bt_table .woocommerce-help-tip {
  margin: 0 !important;
  font-size: 16px;
}

.gg_woo_bt_results, .gg_woo_bt_selected {
  width: 100%;
}

.gg_woo_bt_results {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  width: 100%;
  height: 100%;
  min-height: 182px;
  z-index: 9999999;
  overflow-y: auto;

  ul {
    margin: 0;
    padding: 0;

    > span {
      display: block;
      padding: 5px 10px;
    }

    li {
      padding: 5px 10px;
      margin: 0;
      border-bottom: 1px dotted #eeeeee;
      line-height: 25px;
      position: relative;
      overflow: hidden;
      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: #a6d2f5;
      }

      .gg-woo-bt-pname {
        font-weight: 700;
      }

      .gg-woo-bt-pprice {
        font-weight: 600;
      }
    }
  }
}

.gg_woo_bt_selected {
  display: inline-block;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 12px 0;
      margin: 0;
      border-bottom: 1px dotted #eeeeee;
      height: 28px;
      line-height: 28px;
      position: relative;
      overflow: hidden;
      user-select: none;

      input {
        width: 60px !important;
      }
    }

    li.gg_woo_bt_default {
      padding: 5px 0;
    }

    li .move {
      line-height: 30px;
      cursor: move;
    }
  }

  .gg-woo-bt-pname {
    font-weight: 700;
  }

  .gg-woo-bt-pprice {
    font-weight: 600;
  }
}

.gg_woo_bt_selected li span.price,
.gg_woo_bt_selected li span.qty {
  display: inline-block;
  margin-right: 5px;
  float: left;
}

.gg-woo-bt-pinfo {
  font-style: italic;
}

.gg_woo_bt_selected li del,
.gg_woo_bt_results li del {
  opacity: .5;
}

.gg_woo_bt_selected li ins,
.gg_woo_bt_results li ins {
  text-decoration: none;
}

.gg_woo_bt_selected li span.remove {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: red;
  line-height: 42px;
}

.gg_woo_bt_selected li span.type,
.gg_woo_bt_results li span.type {
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  background-color: #fafafa;
  padding: 0 6px;
  border-radius: 2px;
  color: #999;
  position: absolute;
  top: 10px;
  right: 45px;
}

.gg_woo_bt_selected li span.type {
  right: 35px;
}

#gg_woo_bt_regular_price {
  min-width: 60px;
  display: inline-block;
}

#gg_woo_bt_product_data input[type="search"],
#gg_woo_bt_product_data input[type="text"],
#gg_woo_bt_product_data input[type="number"] {
  font-size: 13px;
  height: 28px;
  line-height: 1;
}

#gg_woo_bt_product_data label {
  float: none;
  width: auto;
  margin: 0;
  padding: 0;
}

#gg_woo_bt_product_data .gg-woo-bt-main-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

#gg_woo_bt_product_data .gg-woo-bt-main-input input {
  width: 100%;
}

#gg_woo_bt_loading {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 998;
}

.gg_woo_bt_table table {
  width: 100%;
  padding: 10px;
  border-spacing: 0;
}

.gg_woo_bt_table table tr th, .gg_woo_bt_table table tr td {
  padding-top: 15px;
}

.gg_woo_bt_table table tr th {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  width: 150px;
}

.gg_woo_bt_table table tr td {
  text-align: left;
}

#gg_woo_bt_set_regular_price, #gg_woo_bt_set_sale_price {
  cursor: pointer;
}

.gg_woo_bt-parent .woocommerce-help-tip, .gg_woo_bt-child .woocommerce-help-tip {
  display: none !important;
}

table.wp-list-table span.product-type.gg_woo_bt:before {
  content: '\e003';
  color: #96588a;
}

.gg_woo_bt-state {
  font-weight: normal;
  font-style: italic;
}

.woocommerce_options_panel {
  input[type="text"].gg-woo-bt-admin-input,
  input[type="number"].gg-woo-bt-admin-input {

    float: none;
  }
}

.gg_woo_bt-table-filter {
  width: 60%;
  margin-bottom: 30px;

  th:nth-child(1) {
    width: 5%;
  }

  th:nth-child(2) {
    width: 35%;
  }

  th:nth-child(3) {
    width: 55%;
  }

  th:nth-child(4) {
    width: 5%;
  }

  .select2-container {
    width: 100% !important;
  }

  .gg_woo_bt-sort {
    cursor: move;
  }

  .gg_woo_bt-del-condition {
    cursor: pointer;
    color: red;
  }
}
